.home {
  @apply min-w-[320px] overflow-hidden;
  @apply bg-[linear-gradient(180deg,#98C9FF_13%,#265C83_27.7%,#081C28_100%)];
  @apply bg-[linear-gradient(180deg,#98C9FF_5%,#91C2F8_13%,#122340_27.7%,#040B13_100%)];

  & .home-header {
    @apply h-full w-full;
    @apply bg-sky;

    & .header-scene {
      @apply relative overflow-hidden;
      @apply h-[12rem] xs:h-[14rem] sm:h-[20rem] md:h-[22rem] lg:h-[25rem] 2xl:h-[28rem] 3xl:h-[32rem] 4xl:h-[42rem] 5xl:h-[72rem];
      @apply w-full;

      & .header-scene-plx {
        @apply absolute;
        @apply h-full w-full;
        @apply origin-bottom;

        & > div {
          @apply absolute;
          @apply h-full w-full;
        }

        &:nth-child(2),
        &:nth-child(2) > div {
          @apply xs:h-[calc(14rem+5px)] sm:h-[calc(20rem+10px)] md:h-[calc(22rem+20px)] lg:h-[calc(25rem+80px)] xl:h-[calc(25rem+120px)];
          @apply 2xl:h-[calc(28rem+170px)] 3xl:h-[calc(30rem+260px)] 4xl:h-[calc(42rem+370px)] 5xl:h-[calc(72rem+440px)];
        }

        & .scene-sun {
          @apply bg-[radial-gradient(circle_at_25%_25%,#FFFFFF_0%,transparent_25%,transparent_100%)];
        }

        & .scene-clould-1 {
          @apply bg-[url('@/assets/images/scene-clould-1.svg')] bg-cover bg-local bg-top bg-no-repeat;
          @apply bg-[linear-gradient(to_bottom,transparent_0%_85%,#E9F3FF_85%,,#E9F3FF_100%)];
        }

        & .scene-clould-2 {
          @apply bg-[url('@/assets/images/scene-clould-2.svg')] bg-cover bg-local bg-top bg-no-repeat;
        }

        & .scene-clould-3 {
          @apply bg-[url('@/assets/images/scene-clould-3.svg')] bg-cover bg-local bg-top bg-no-repeat;
        }

        & .scene-clould-4 {
          @apply bg-[url('@/assets/images/scene-clould-4.svg')] bg-cover bg-local bg-top bg-no-repeat;
        }

        & .scene-sea {
          @apply bg-[linear-gradient(to_bottom,transparent_0%,transparent_70%,#C1E0FF_70%,#B8DDFC_74.5%,#ABD5FF_79%,#A5D0FD_83.5%,#A0CCF8_88%,#94BFEF_95.5%,#86B5EA_100%)];
          @apply xl:h-[70%] 4xl:h-full;
          @apply xl:top-[30%] 4xl:top-auto;
        }
      }

      & .scene-wave {
        @apply absolute;
        @apply h-full w-full;
        @apply bg-[url('@/assets/images/scene-wave.svg')] bg-cover bg-local bg-bottom bg-no-repeat;
        @apply bottom-0;
      }
    }

    & .header-navigation {
      @apply absolute flex justify-between;
      @apply top-0 lg:top-16 xl:top-14 2xl:top-20;
      @apply h-12 w-full lg:h-16 xl:h-20 2xl:h-24;
      @apply place-items-center;
      @apply text-basic-dark;
      @apply mt-5 pl-8 pr-4 sm:mt-10 lg:mt-0 xl:pr-16;

      & .header-logo {
        @apply flex items-center justify-center gap-1 lg:gap-1.5 2xl:gap-2;
        @apply ml-10 lg:ml-20 2xl:ml-32;
        @apply text-base md:text-lg lg:text-2xl xl:text-3xl 2xl:text-4xl 4xl:text-5xl;
        @apply font-medium text-black 2xl:font-semibold;

        & img {
          @apply content-[url('@/assets/images/content-scallop-logo.webp')];
          @apply pointer-events-none block filter;
          @apply h-6 sm:h-8 md:h-10 lg:h-8 xl:h-10 2xl:h-16 4xl:h-20;
        }
      }

      & .header-navbar {
        @apply hidden items-center justify-center lg:flex;
        @apply text-center text-[10px] sm:text-xs md:text-sm lg:text-sm xl:text-base 2xl:text-xl 4xl:text-2xl;

        & ul {
          @apply flex flex-nowrap items-start justify-start sm:flex-row;
          @apply gap-y-1 sm:gap-x-4 2xl:gap-x-12;

          & li {
            @apply flex items-center justify-center;
            @apply rounded-md bg-white/30;
            @apply shadow-sm;
            @apply hover:bg-white/80;

            & > a {
              @apply whitespace-nowrap px-4 py-1.5;
            }
          }
        }
      }

      & .header-menubar-button {
        @apply z-50 flex lg:hidden;
        @apply rounded-md p-1;
        @apply !bg-white/30 hover:bg-white/80;

        & svg {
          @apply h-5 w-5 sm:h-6 sm:w-6;
          @apply fill-basic-normal hover:fill-basic-dark;
        }
      }

      & .header-menubar-items {
        @apply absolute z-50 flex flex-col items-center justify-start gap-0.5 lg:hidden;
        @apply right-4 top-11 p-2;
        @apply rounded text-xs;
        @apply !bg-white/30;

        & > div {
          @apply flex items-center justify-center;
          @apply w-full rounded-sm;
          @apply hover:bg-white/80;

          & > a {
            @apply w-full;
            @apply px-2 py-1;
          }
        }
      }
    }
  }

  & .home-main {
    @apply relative w-full;

    & .main-scene {
      @apply absolute left-0 top-0;
      @apply h-auto w-full;

      & section {
        @apply relative w-full;

        &:nth-child(1) {
          @apply h-[10rem] xs:h-[14rem] sm:h-[18rem] md:h-[22rem] lg:h-[20rem] xl:h-[22rem] 2xl:h-[24rem] 3xl:h-[26rem];
        }

        &:nth-child(2) {
          @apply h-[24rem] xs:h-[28rem] sm:h-[32rem] md:h-[36rem] lg:h-[40rem] xl:h-[48rem] 2xl:h-[56rem] 3xl:h-[64rem];
        }

        &:nth-child(3) {
          @apply h-[80rem] xs:h-[84rem] sm:h-[86rem] md:h-[88rem] lg:h-[56rem] xl:h-[64rem] 2xl:h-[72rem] 3xl:h-[80rem];
        }

        &:nth-child(4) {
          @apply h-[28rem] xs:h-[32rem] sm:h-[40rem] md:h-[48rem] lg:h-[62rem] xl:h-[70rem] 2xl:h-[74rem] 3xl:h-[82rem];
        }

        &:nth-child(5) {
          @apply h-[20rem] xs:h-[24rem] sm:h-[30rem] md:h-[36rem] lg:h-[42rem] xl:h-[50rem] 2xl:h-[58rem] 3xl:h-[68rem];
        }

        &:nth-child(6) {
          @apply h-[38rem] xs:h-[46rem] sm:h-[44rem] md:h-[48rem] lg:h-[56rem] xl:h-[62rem] 2xl:h-[68rem] 3xl:h-[76rem];
        }

        &:nth-child(7) {
          @apply h-[28rem] xs:h-[40rem] sm:h-[48rem] md:h-[46rem] lg:h-[46rem] xl:h-[50rem] 2xl:h-[60rem] 3xl:h-[72rem];
        }

        &:nth-child(8) {
          @apply h-[35rem] xs:h-[38rem] sm:h-[46rem] md:h-[58rem] lg:h-[58rem] xl:h-[64rem] 2xl:h-[66rem] 3xl:h-[72rem];
        }
      }

      & .main-scene-plx {
        @apply absolute h-full w-full;

        & .scene-groupOfFish-1 {
          @apply content-[url('@/assets/images/scene-group-of-fish-1.svg')];
          @apply absolute left-[-20%] xs:left-[-15%] sm:left-[-25%] md:left-[-30%] lg:left-[-25%] xl:left-[-20%] 3xl:left-[-15%] 4xl:left-[-20%] 5xl:left-[-25%];
          @apply bottom-[-40%] xs:bottom-[-40%] sm:bottom-[-50%] md:bottom-[-60%] lg:bottom-[-70%] xl:bottom-[-60%] 3xl:bottom-[-90%] 4xl:bottom-[-100%] 5xl:bottom-[-130%];
          @apply w-[40%] lg:w-[35%] xl:w-[30%];
        }

        & .scene-groupOfDiscusFish-1 {
          @apply content-[url('@/assets/images/scene-group-of-discus-fish-1.svg')];
          @apply absolute right-[5%] sm:right-[5%] lg:right-[8%] xl:right-[12%] 4xl:right-[15%];
          @apply top-[25%] xl:top-[35%] 2xl:top-[45%] 4xl:top-[55%] 5xl:top-[60%];
          @apply w-[30%] lg:w-[25%] xl:w-[20%] 2xl:w-[15%];
        }

        & .scene-groupOfFish-2 {
          @apply content-[url('@/assets/images/scene-group-of-fish-2.svg')];
          @apply absolute right-[-50%] xs:right-[-30%] sm:right-[-30%] lg:right-[-40%];
          @apply bottom-[10%] xs:bottom-[-10%] sm:bottom-[-20%];
          @apply w-[25%] xs:w-[35%] lg:w-[30%];
          transform: rotateY(-120deg) rotate(15deg);
        }

        & .scene-groupOfZebraFish-1 {
          @apply content-[url('@/assets/images/scene-group-of-zebra-fish.svg')];
          @apply absolute left-[-35%] xs:left-[-25%] sm:left-[-15%] md:left-[0%] lg:left-[10%] xl:left-[5%];
          @apply bottom-[0%] xs:bottom-[5%] sm:bottom-[0%] md:bottom-[-5%] lg:bottom-[-15%] xl:bottom-[-20%];
          @apply w-[24rem] xs:w-[28rem] sm:w-[36rem] md:w-[38rem] lg:w-[42rem] xl:w-[45rem] 2xl:w-[62rem] 3xl:w-[70rem] 4xl:w-[88rem] 5xl:w-[120rem];
          @apply z-20 opacity-20;
        }

        & .scene-groupOfJellyFish-1 {
          @apply content-[url('@/assets/images/scene-group-of-jelly-fish-1.svg')];
          @apply absolute right-[10%] xs:right-[15%] sm:right-[10%] xl:right-[13%] 2xl:right-[15%];
          @apply top-[20%];
          @apply w-[10%];
        }

        & .scene-groupOfBubble-1 {
          @apply content-[url('@/assets/images/scene-group-of-bubble-1.svg')];
          @apply absolute left-[20%] md:left-[22%] lg:left-[24%] 3xl:left-[25%];
          @apply bottom-[65%] md:bottom-[60%] lg:bottom-[50%] 3xl:bottom-[50%];
          @apply w-[13%] lg:w-[11%] 3xl:w-[10%];
        }

        & .scene-groupOfBubble-2 {
          @apply content-[url('@/assets/images/scene-group-of-bubble-2.svg')];
          @apply absolute left-0 3xl:left-[-3%];
          @apply bottom-[65%] md:bottom-[60%] lg:bottom-[50%] 3xl:bottom-[60%];
          @apply w-[13%] lg:w-[11%] 3xl:w-[10%];
        }

        & .scene-groupOfBubble-3 {
          @apply content-[url('@/assets/images/scene-group-of-bubble-3.svg')];
          @apply absolute left-[10%] 3xl:left-[15%];
          @apply bottom-[45%] md:bottom-[35%] 3xl:bottom-[45%];
          @apply w-[13%] lg:w-[11%] 3xl:w-[10%];
        }

        & .scene-rockLeft-1 {
          @apply content-[url('@/assets/images/scene-rock-left-1.svg')];
          @apply absolute left-[-0.2%] opacity-60;
          @apply top-[10%] xs:top-[8%] lg:top-[15%] xl:top-[15%];
          @apply w-[45%] xs:w-[25%];
        }

        & .scene-rockRight-1 {
          @apply content-[url('@/assets/images/scene-rock-right-1.svg')];
          @apply absolute right-0 opacity-60;
          @apply bottom-[-10%] xs:bottom-[-5%] sm:bottom-[-10%] lg:bottom-[-25%];
          @apply w-[30%] xs:w-[20%] sm:w-[15%];
        }

        & .scene-groupOfBubble-4 {
          @apply content-[url('@/assets/images/scene-group-of-bubble-4.svg')];
          @apply absolute left-[10%] sm:left-[50%] 3xl:left-[55%];
          @apply bottom-[15%] xs:bottom-[-10%] sm:bottom-[20%] md:bottom-[15%] 3xl:bottom-[15%];
          @apply w-[10%] 3xl:w-[8%];
        }

        & .scene-groupOfBubble-5 {
          @apply content-[url('@/assets/images/scene-group-of-bubble-5.svg')];
          @apply absolute right-[10%] 3xl:right-[20%];
          @apply bottom-[1%] 3xl:bottom-[3%];
          @apply w-[12%] 3xl:w-[10%];
        }

        & .scene-groupOfBubble-6 {
          @apply content-[url('@/assets/images/scene-group-of-bubble-6.svg')];
          @apply absolute right-[15%] sm:right-[3%] 3xl:right-[10%];
          @apply bottom-[20%] xs:bottom-[25%] sm:bottom-[40%] 3xl:bottom-[35%];
          @apply w-[14%] 3xl:w-[13%];
        }

        & .scene-seahorse-1 {
          @apply content-[url('@/assets/images/scene-seahorse-1.svg')];
          @apply absolute right-[17%];
          @apply bottom-[3%] xs:bottom-[5%] sm:bottom-[2%] lg:bottom-[9%] 2xl:bottom-[10%];
          @apply w-[0.5rem] opacity-60 xs:w-[1rem] sm:w-[1.25rem] xl:w-[1.5rem] 3xl:w-[2rem] 4xl:w-[2.5rem] 5xl:w-[4rem];
        }

        & .scene-rockRight-2 {
          @apply content-[url('@/assets/images/scene-rock-right-2.svg')];
          @apply absolute bottom-0 right-0 sm:-bottom-[5%] 2xl:-bottom-[10%];
          @apply w-[20%] opacity-60 xs:w-[25%] sm:w-[26%];
        }

        & .scene-groupOfFish-3 {
          @apply content-[url('@/assets/images/scene-group-of-fish-3.svg')];
          @apply absolute left-[-20%] lg:left-[-15%] 2xl:left-[-10%] 3xl:left-[-5%];
          @apply top-[-10%] xs:top-[-15%] sm:top-[-15%] lg:top-[-10%];
          @apply w-[30%] lg:w-[25%] 2xl:w-[20%];
        }

        & .scene-singleJellyFish-1 {
          @apply content-[url('@/assets/images/scene-single-jellyfish-1.svg')];
          @apply absolute right-[15%] xs:right-[13%] sm:right-[12%] xl:right-[10%];
          @apply bottom-[15%] xs:bottom-[12%] sm:bottom-[14%] 2xl:bottom-[16%] 5xl:bottom-[18%];
          @apply w-[7%] xs:w-[8%] sm:w-[5%] 2xl:w-[3.5%];
          transform: rotateY(-180deg) rotate(15deg);
        }

        & .scene-groupOfDiscusFish-2 {
          @apply content-[url('@/assets/images/scene-group-of-discus-fish-2.svg')];
          @apply absolute left-[10%] xs:left-[11%] sm:left-[9%];
          @apply bottom-[35%] xs:bottom-[30%] sm:bottom-[25%] md:bottom-[25%] lg:bottom-[28%] xl:bottom-[30%] 2xl:bottom-[32%] 4xl:bottom-[36%] 5xl:bottom-[40%];
          @apply w-[14%] opacity-40 xs:w-[15%] sm:w-[12%] md:w-[15%] lg:w-[12%] xl:w-[10%] 2xl:w-[9%];
        }

        & .scene-groupOfDiscusFish-3 {
          @apply content-[url('@/assets/images/scene-group-of-discus-fish-3.svg')];
          @apply absolute right-[5%] xs:right-[6%] sm:right-[7%] md:right-[5%];
          @apply bottom-[20%] md:bottom-[25%] lg:bottom-[20%];
          @apply w-[18%] opacity-40 xs:w-[20%] sm:w-[22%] md:w-[20%] lg:w-[18%] xl:w-[16%] 2xl:w-[14%];
        }

        & .scene-groupOfBubble-7 {
          @apply content-[url('@/assets/images/scene-group-of-bubble-7.svg')];
          @apply absolute right-[5%];
          @apply bottom-[10%] sm:bottom-[5%] 3xl:bottom-[10%];
          @apply w-[15%] 3xl:w-[13%];
        }

        & .scene-groupOfBubble-8 {
          @apply content-[url('@/assets/images/scene-group-of-bubble-8.svg')];
          @apply absolute right-[8%];
          @apply bottom-[30%] xs:bottom-[35%] sm:bottom-[35%] 3xl:bottom-[30%];
          @apply w-[15%] 3xl:w-[13%];
        }

        & .scene-groupOfBubble-9 {
          @apply content-[url('@/assets/images/scene-group-of-bubble-9.svg')];
          @apply absolute right-[25%] xs:right-[20%] sm:right-[15%];
          @apply bottom-0;
          @apply w-[15%] 3xl:w-[13%];
        }

        & .scene-groupOfBubble-10 {
          @apply content-[url('@/assets/images/scene-group-of-bubble-10.svg')];
          @apply absolute left-[15%] sm:left-[10%];
          @apply bottom-[10%] sm:bottom-[5%] 3xl:bottom-[10%];
          @apply w-[15%] 3xl:w-[13%];
        }

        & .scene-groupOfBubble-11 {
          @apply content-[url('@/assets/images/scene-group-of-bubble-11.svg')];
          @apply absolute left-[5%] 3xl:left-[5%];
          @apply bottom-[30%] xs:bottom-[25%] sm:bottom-[20%];
          @apply w-[15%] 3xl:w-[13%];
        }

        & .scene-rockLeft-2 {
          @apply content-[url('@/assets/images/scene-rock-left-2.svg')];
          @apply absolute left-0 opacity-60;
          @apply bottom-[7%];
          @apply w-[30%] xs:w-[24%] sm:w-[20%] xl:w-[18%];
        }

        & .scene-rockRight-3 {
          @apply content-[url('@/assets/images/scene-rock-right-3.svg')];
          @apply absolute bottom-0 right-0 opacity-60;
          @apply w-[25%] xs:w-[20%] sm:w-[17%] xl:w-[15%];
        }

        & .scene-groupOfTurtle {
          @apply content-[url('@/assets/images/scene-group-of-turtle.svg')];
          @apply absolute right-[8%] lg:right-[7%] 2xl:right-[12%];
          @apply top-[24%] xs:top-[20%] md:top-[15%] lg:top-[24%] xl:top-[15%] 3xl:top-[25%];
          @apply w-[35%] md:w-[40%] lg:w-[25%] xl:w-[20%];
        }

        & .scene-submarine {
          @apply content-[url('@/assets/images/scene-submarine.svg')];
          @apply absolute top-[15%] xs:top-[12%] md:top-[10%] xl:top-[5%] 3xl:top-[10%];
          @apply left-[5%] md:left-[10%] 2xl:left-[11%];
          @apply w-[60%] md:w-[55%] 2xl:w-[45%];
        }

        & .scene-groupOfManta {
          @apply hidden lg:block;
          @apply content-[url('@/assets/images/scene-group-of-mantas.svg')];
          @apply absolute lg:left-[7%] xl:left-[5%] 2xl:left-[7%];
          @apply lg:bottom-[20%] xl:bottom-[20%] 2xl:bottom-[10%] 3xl:bottom-[20%];
          @apply lg:w-[40%] xl:w-[35%] 2xl:w-[40%] 3xl:w-[35%];
        }

        & .scene-groupOfBubble-12 {
          @apply content-[url('@/assets/images/scene-group-of-bubble-12.svg')];
          @apply absolute right-[85%] md:right-[75%] lg:right-[50%] xl:right-[45%] 3xl:right-[40%];
          @apply bottom-[45%] xs:bottom-[40%] sm:bottom-[35%] md:bottom-[30%] lg:bottom-[-10%];
          @apply w-[15%] 3xl:w-[13%];
        }

        & .scene-groupOfBubble-13 {
          @apply content-[url('@/assets/images/scene-group-of-bubble-13.svg')];
          @apply absolute right-[5%] xl:right-[3%] 3xl:right-[5%];
          @apply bottom-[60%] md:bottom-[50%] lg:bottom-[25%] xl:bottom-[20%] 3xl:bottom-[10%];
          @apply w-[15%] 3xl:w-[13%];
        }

        & .scene-groupOfBubble-14 {
          @apply hidden md:block;
          @apply content-[url('@/assets/images/scene-group-of-bubble-14.svg')];
          @apply absolute left-[40%] lg:left-[30%] xl:left-[28%] 2xl:left-[33%];
          @apply bottom-[10%] lg:bottom-[30%] xl:bottom-[28%] 2xl:bottom-[24%];
          @apply w-[15%] 3xl:w-[13%];
        }

        & .scene-groupOfBubble-15 {
          @apply hidden md:block;
          @apply content-[url('@/assets/images/scene-group-of-bubble-15.svg')];
          @apply absolute left-[1%] md:left-[3%] lg:left-[8%] xl:left-[10%];
          @apply bottom-[10%] sm:bottom-[15%] md:bottom-[18%] lg:bottom-[35%] 2xl:bottom-[30%] 3xl:bottom-[40%];
          @apply w-[4%] 3xl:w-[5%];
        }

        & .scene-groupOfFish-4 {
          @apply hidden sm:block;
          @apply content-[url('@/assets/images/scene-group-of-fish-4.svg')];
          @apply absolute sm:left-[-25%] md:left-[-30%] 2xl:left-[-15%];
          @apply sm:bottom-[30%] md:bottom-[20%] 2xl:bottom-[30%] 4xl:bottom-[55%];
          @apply w-[30%] xs:w-[32%] sm:w-[35%] lg:w-[30%] xl:w-[25%] 2xl:w-[20%];
          transform: rotate(-15deg);
        }

        & .scene-groupOfFish-5 {
          @apply content-[url('@/assets/images/scene-group-of-fish-5.svg')];
          @apply absolute right-[-30%] xs:right-[-34%] sm:right-[-38%] lg:right-[-34%] 4xl:right-[-30%];
          @apply top-[15%] xs:top-[10%] sm:top-[15%] md:top-[15%] lg:top-[15%] 4xl:top-[-20%] 5xl:top-[10%];
          @apply w-[33%] xs:w-[35%] sm:w-[38%] lg:w-[33%] 4xl:w-[30%];
          transform: rotateY(-180deg) rotate(-30deg);
        }

        & .scene-groupOfJellyFish-2 {
          @apply content-[url('@/assets/images/scene-group-of-jelly-fish-2.svg')];
          @apply absolute left-[0%];
          @apply bottom-[-10%] xs:bottom-[-5%] lg:bottom-[-10%] 2xl:bottom-[-20%] 3xl:bottom-[-10%];
          @apply w-[10%] sm:w-[12%] lg:w-[8%] xl:w-[6%];
        }

        & .scene-whale {
          @apply content-[url('@/assets/images/scene-whale.svg')];
          @apply absolute right-[-66%] xs:right-[-62%] sm:right-[-65%] md:right-[-65%] lg:right-[-56%] xl:right-[-55%] 2xl:right-[-50%] 3xl:right-[-45%] 4xl:right-[-43%];
          @apply top-[0%] xs:top-[-5%] sm:top-[-5%] md:top-[-5%] lg:top-[-10%] xl:top-[-15%] 3xl:top-[-15%] 4xl:-top-[10%];
          @apply z-0 w-[100%] xl:w-[85%] 2xl:w-[80%] 3xl:w-[75%];
        }

        & .scene-groupOfJellyFish-3 {
          @apply content-[url('@/assets/images/scene-group-of-jelly-fish-3.svg')];
          @apply absolute right-[10%] xs:right-[5%];
          @apply bottom-[15%] lg:bottom-[10%];
          @apply w-[12%] lg:w-[8%] xl:w-[6%];
          @apply z-10;
          transform: rotateY(-180deg);
        }

        & .scene-groupOfBubble-16 {
          @apply content-[url('@/assets/images/scene-group-of-bubble-16.svg')];
          @apply absolute right-[5%] xl:right-[7%] 4xl:right-[10%];
          @apply bottom-[65%] xs:bottom-[60%] sm:bottom-[65%] lg:bottom-[55%];
          @apply xl:bottom-[40%] 2xl:bottom-[35%] 4xl:bottom-[40%];
          @apply w-[12%] 3xl:w-[10%];
        }

        & .scene-groupOfBubble-17 {
          @apply content-[url('@/assets/images/scene-group-of-bubble-17.svg')];
          @apply absolute right-[10%] xs:right-[5%] lg:right-[2%] 3xl:right-[4%];
          @apply bottom-0 lg:bottom-[-10%] 3xl:bottom-[-10%];
          @apply w-[15%] 3xl:w-[13%];
        }
      }
    }

    & .main-content {
      @apply w-full;

      & section {
        @apply relative w-full;

        &:nth-child(1) {
          @apply h-[10rem] xs:h-[14rem] sm:h-[18rem] md:h-[22rem] lg:h-[20rem] xl:h-[22rem] 2xl:h-[24rem] 3xl:h-[26rem];

          & .section-content {
            @apply absolute flex flex-col place-content-center justify-self-start;
            @apply h-full w-[50%] xs:w-[55%] sm:w-[60%] md:w-[65%];
            @apply left-[10%] 2xl:left-[12%];
            @apply text-basic-dark;
            @apply 2xl:mt-5 3xl:mt-6 4xl:mt-8 5xl:mt-16;
            @apply z-10;

            & .text-title-1 {
              @apply text-xs xs:text-sm sm:text-base md:text-lg lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl 4xl:text-6xl 5xl:text-7xl;
              @apply font-[700] tracking-[.05em] text-basic-normal sm:font-[800] lg:font-[900];
              @apply leading-[1.2rem] xs:leading-[1.5rem] sm:leading-[2rem] md:leading-[2.5rem] lg:leading-[3rem];
              @apply xl:leading-[3.5rem] 2xl:leading-[4rem] 3xl:leading-[4.5rem] 4xl:leading-[5rem] 5xl:leading-[6rem];
              @apply mb-2 sm:mb-3 lg:mb-3 xl:mb-4 2xl:mb-5 3xl:mb-7 4xl:mb-10 5xl:mb-14;
            }

            & .text-title-2 {
              @apply text-[0.5rem] text-basic-normal sm:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl 4xl:text-3xl 5xl:text-4xl;
            }

            & > div {
              @apply relative flex w-full space-x-4 md:space-x-6;
              @apply mt-3 sm:mt-4 md:mt-5 lg:mt-6 xl:mt-7 2xl:mt-8 3xl:mt-10 4xl:mt-14 5xl:mt-16;

              & .links-container {
                @apply flex flex-row gap-4 xs:w-[14.5rem] sm:w-[14.5rem] md:w-[16.5rem] lg:w-[18.5rem] xl:w-[20.5rem] 2xl:w-[25rem] 4xl:w-[26.5rem] 5xl:w-[32.5rem];

                & .more-button {
                  @apply text-center text-[0.5rem] text-white sm:text-sm md:text-base lg:text-lg 2xl:text-xl 4xl:text-2xl 5xl:text-3xl;
                  @apply leading-[0.75rem] lg:leading-7;
                  @apply py-1 hover:bg-opacity-90 xs:py-1.5 sm:py-2 md:py-2.5 lg:py-2 4xl:py-3.5 5xl:py-6;
                  @apply rounded-md xs:rounded-md sm:rounded-lg;
                  @apply w-24 xs:w-[7rem] sm:w-28 md:w-32 lg:w-36 xl:w-40 2xl:w-44 4xl:w-52 5xl:w-64;

                  &.button1 {
                    @apply flex items-center justify-center;
                    @apply bg-basic-normal hover:bg-basic-dark;
                  }

                  &.button2 {
                    @apply text-center text-[0.5rem] text-basic-dark sm:text-sm md:text-base lg:text-lg 2xl:text-xl 4xl:text-2xl 5xl:text-3xl;
                    @apply bg-white bg-opacity-60 py-1 hover:bg-opacity-90 xs:py-1.5 sm:py-2 md:py-2.5 lg:py-2 4xl:py-3.5 5xl:py-6;
                  }
                }
              }

              & .based-on {
                @apply absolute left-0;
                @apply bottom-[-2rem] sm:bottom-[-3rem] lg:bottom-[-4rem];
                @apply flex flex-nowrap items-center justify-start gap-[0.5rem];
                @apply !m-0 w-full 2xl:w-auto;
                @apply text-[10px] lg:text-sm;
                @apply whitespace-nowrap text-white;

                & span {
                  @apply font-medium text-basic-normal;
                }

                & img.based-on-sui {
                  @apply content-[url('@/assets/images/content-sui-logo.svg')];
                  @apply !m-0 h-4 xs:h-5 sm:h-5 md:h-7 lg:h-5 xl:h-7 2xl:h-8 4xl:h-10;
                  @apply rounded-full bg-white p-1 transition-all hover:bg-basic-normal;
                }
              }
            }
          }
        }

        &:nth-child(2) {
          @apply h-[24rem] xs:h-[28rem] sm:h-[32rem] md:h-[36rem] lg:h-[40rem] xl:h-[48rem] 2xl:h-[56rem] 3xl:h-[64rem];

          & .section-content {
            @apply absolute h-full w-full;
            @apply z-10;

            & .text-title-section {
              @apply absolute left-[44%];
              @apply top-[40%] xs:top-[30%] lg:top-[35%];
              @apply w-[12%];
              @apply text-xs xs:text-base sm:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl 4xl:text-6xl 5xl:text-7xl;
              @apply text-center font-bold text-white;
              @apply drop-shadow-[0_0_2px_#334664];
            }

            & .about {
              @apply z-30;
              @apply content-[url('@/assets/images/content-about.svg')];
              @apply absolute left-[7%] lg:left-[12%];
              @apply top-[50%] xs:top-[40%] md:top-[45%] lg:top-[45%];
              @apply w-[86%] lg:w-[76%];
              @apply rounded-3xl bg-basic-darker/60;
            }
          }
        }

        &:nth-child(3) {
          @apply h-[80rem] xs:h-[84rem] sm:h-[88rem] md:h-[88rem] lg:h-[56rem] xl:h-[64rem] 2xl:h-[72rem] 3xl:h-[80rem];

          & .section-content {
            @apply absolute h-full w-full;
            @apply z-10;

            & .text-title-section {
              @apply absolute left-[38%];
              @apply top-[0%] lg:top-[16%];
              @apply w-[24%];
              @apply text-xs xs:text-base sm:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl 4xl:text-6xl 5xl:text-7xl;
              @apply text-center font-bold text-white;
              @apply drop-shadow-[0_0_2px_#334664];
            }

            & .why-scallop {
              @apply flex w-full flex-col items-center justify-center gap-8 xs:items-start xs:justify-evenly lg:flex-row;
              @apply absolute left-[7%] lg:left-[12%];
              @apply top-[3%] xs:top-[4%] sm:top-[5%] md:top-[6%] lg:top-[26%];
              @apply w-[86%] lg:w-[76%];

              & > div {
                @apply flex flex-col items-center justify-start gap-2;
                @apply w-full;

                & > img {
                  @apply w-[8rem] 2xl:w-[10rem];
                  @apply h-[8rem] 2xl:h-[10rem];
                  @apply animate-[upAnimation_2s_infinite];
                }

                & > h3 {
                  @apply flex items-start justify-center;
                  @apply h-[2rem] lg:h-[3.2rem] 2xl:h-[4rem];
                  @apply w-[50%] lg:w-[60%] xl:w-[14rem] 2xl:w-[14rem] 3xl:w-[20rem] 4xl:w-[24rem];
                  @apply text-xs sm:text-base xl:text-xl 3xl:text-3xl 4xl:text-4xl 5xl:text-5xl;
                  @apply text-center font-bold text-basic-lighter;
                  @apply rounded-md border-2 border-none;
                }

                & > ul {
                  @apply flex flex-col items-start justify-start gap-1.5 lg:gap-2.5;
                  @apply w-[90%] lg:w-full;
                  @apply lg:min-h-[22rem] 2xl:min-h-[20rem];
                  @apply text-xs md:text-base;
                  @apply leading-[1.2rem] md:leading-[1.4rem] lg:leading-[1.6rem];
                  @apply text-white;
                  @apply mt-1 py-3 pl-8 pr-6 lg:mt-2 2xl:mt-3;
                  @apply rounded-3xl bg-basic-darker/30;

                  & > li {
                    @apply list-disc;

                    & > ul {
                      @apply flex flex-col items-start justify-center gap-1 lg:gap-2;
                      @apply mt-2 pl-1;

                      & > li {
                        @apply list-["-\00a0"];
                        @apply text-[8px] md:text-[10px];
                        @apply leading-[14px];
                      }
                    }
                  }
                }
              }

              & .reason-1 {
                & > img {
                  @apply content-[url('@/assets/images/content-professional-trader-enabling.svg')];
                }
              }

              & .reason-2 {
                & > img {
                  @apply content-[url('@/assets/images/content-industry-leading-model.svg')];
                  @apply w-[7.8rem] 2xl:w-[9.5rem];
                  @apply h-[7.8rem] 2xl:h-[9.5rem];
                }
              }

              & .reason-3 {
                & > img {
                  @apply content-[url('@/assets/images/content-security-first.svg')];
                }
              }
            }
          }
        }

        &:nth-child(4) {
          @apply h-[28rem] xs:h-[32rem] sm:h-[36rem] md:h-[40rem] lg:h-[62rem] xl:h-[70rem] 2xl:h-[74rem] 3xl:h-[82rem];

          & .section-content {
            @apply h-full w-full;
            @apply relative flex flex-col items-center justify-center;
            @apply z-10;

            & .text-title-section {
              @apply absolute left-[36%];
              @apply top-[5%] sm:top-[10%] lg:top-[5%] 2xl:top-[10%];
              @apply text-xs xs:text-base sm:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl 4xl:text-6xl 5xl:text-7xl;
              @apply text-center font-bold text-white;
              @apply w-[26%];
            }

            & .achievement {
              @apply absolute left-[7%] lg:left-[14%];
              @apply top-[15%] sm:top-[25%] lg:top-[15%] 2xl:top-[20%];
              @apply flex flex-col items-center justify-start;
              @apply gap-0 xs:gap-1 sm:gap-2 lg:gap-12;
              @apply w-[86%] lg:w-[72%];
              @apply list-none text-[0.5rem] text-white xs:text-xs sm:text-sm md:text-base 2xl:text-lg 3xl:text-xl 5xl:text-3xl;

              & > li {
                @apply relative flex flex-row items-start justify-center;
                @apply w-full lg:max-w-[60rem];

                & > div[class*='champion'] {
                  @apply hidden lg:flex;
                  @apply absolute top-[-2rem] 2xl:top-[-4rem];
                  @apply w-[30%];

                  &.left-champion {
                    @apply flex-row items-center justify-center;
                    @apply left-[-12%];
                  }

                  &.right-champion {
                    @apply flex-row-reverse items-center justify-start;
                    @apply left-[76%];
                  }

                  & .left-champion-line {
                    @apply content-[url('@/assets/images/content-bubble-line.svg')];
                    @apply w-[30%] sm:w-[20%];
                  }

                  & .right-champion-line {
                    @apply content-[url('@/assets/images/content-bubble-line.svg')];
                    @apply w-[30%] sm:w-[20%];
                    @apply rotate-[180deg];
                  }

                  & .champion-bubble {
                    @apply hidden lg:flex;
                    @apply flex-col items-center justify-center;
                    @apply lg:h-[6rem] 2xl:h-[8em] 4xl:h-[12rem];
                    @apply animate-[upAnimation_2s_infinite];

                    &.sui-champion-1 {
                      @apply content-[url('@/assets/images/content-sui-champion-1.svg')];
                    }

                    &.sui-champion-2 {
                      @apply content-[url('@/assets/images/content-sui-champion-2.svg')];
                    }

                    &.sui-champion-3 {
                      @apply content-[url('@/assets/images/content-sui-champion-3.svg')];
                    }

                    &.sui-champion-4 {
                      @apply content-[url('@/assets/images/content-sui-champion-4.svg')];
                    }

                    &.sui-champion-5 {
                      @apply content-[url('@/assets/images/content-sui-champion-5.svg')];
                    }
                  }
                }

                & > div {
                  @apply flex flex-row items-start justify-start gap-1;
                  @apply w-[76%] lg:w-[72%];
                  @apply leading-[1.4rem];
                }
              }
            }
          }
        }

        &:nth-child(5) {
          @apply h-[20rem] xs:h-[28rem] sm:h-[36rem] md:h-[44rem] lg:h-[38rem] xl:h-[45rem] 2xl:h-[58rem] 3xl:h-[76rem] 4xl:h-[80rem];

          & .section-content {
            @apply absolute h-full w-full;
            @apply z-10;

            & .text-title-section {
              @apply absolute left-[25%];
              @apply top-[8%] md:top-[23%] lg:top-[0%];
              @apply text-xs xs:text-base sm:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl 4xl:text-6xl 5xl:text-7xl;
              @apply text-center font-bold text-white;
              @apply w-[50%];
            }

            & .beyond {
              @apply absolute left-[7%] lg:left-[12%];
              @apply top-[25%] md:top-[38%] lg:top-[15%];
              @apply content-[url('@/assets/images/content-beyond-lending-and-borrowing.svg')];
              @apply w-[86%] lg:w-[76%];
              @apply rounded-3xl bg-basic-darker/60;
            }
          }
        }

        &:nth-child(6) {
          @apply h-[9rem] xs:h-[10rem] sm:h-[17rem] md:h-[20rem] lg:h-[25rem] xl:h-[27rem] 2xl:h-[29rem] 3xl:h-[35rem];

          & .section-content {
            @apply flex flex-col flex-wrap items-center justify-start;
            @apply absolute left-0;
            @apply h-full w-full;
            @apply top-0 3xl:top-[5%];
            @apply z-10;

            & .text-title-section {
              @apply absolute left-[25%];
              @apply flex w-full justify-center;
              @apply text-xs xs:text-base sm:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl 4xl:text-6xl 5xl:text-7xl;
              @apply text-center font-bold text-white;
              @apply w-[50%];
              @apply top-0 sm:top-[5%] md:top-[14%] lg:top-[10%];
            }

            & .text-team-description {
              @apply absolute left-[25%];
              @apply flex w-full justify-center;
              @apply text-[8px] xs:text-[9px] sm:text-sm lg:text-sm xl:text-base;
              @apply text-center text-white xs:font-medium;
              @apply w-[50%];
              @apply bottom-0 md:bottom-[10%] lg:bottom-[20%] 3xl:bottom-[20%];
            }

            & .team-container {
              @apply flex flex-row flex-wrap items-start justify-center gap-3;
              @apply w-full;
              @apply absolute sm:left-0 sm:right-0 sm:ml-auto sm:mr-auto;
              @apply top-[11%] xs:top-[15%] sm:top-[16%] md:top-[25%] lg:top-[20.5%] 3xl:top-[22%];

              & .team-card {
                @apply flex flex-col items-center justify-center;
                @apply h-14 sm:h-36 lg:h-40 xl:h-48 2xl:h-56 3xl:h-64;
                @apply w-[10%] sm:w-[calc(14%-1rem)] lg:w-[8rem] xl:w-[9rem] 2xl:w-[12rem];

                & .card-avatar {
                  @apply flex w-3/4 flex-grow flex-col justify-center;

                  & > img {
                    @apply mx-auto mt-4 rounded-full xl:mt-6;
                    @apply w-full xs:w-10 sm:w-16 md:w-16 lg:w-16 xl:w-20 2xl:w-24;
                  }
                }

                & .card-profile {
                  @apply flex w-1/2 flex-grow flex-row items-center justify-center gap-1 lg:gap-2;
                  @apply mt-2 lg:mb-4 lg:mt-4;
                  @apply hover:drop-shadow-[0_0_4px_#9CD0DD];

                  & .profile-links {
                    @apply flex flex-wrap;

                    & > a.twitter {
                      @apply transition-all hover:rotate-12;
                      @apply content-[url(@/assets/images/content-twitter-rounded.svg)];
                      @apply h-2 w-2 sm:h-3 sm:w-3 md:h-4 md:w-4 lg:h-5 lg:w-5;
                    }
                  }

                  & .profile-name {
                    @apply text-[6px] text-white sm:text-sm lg:text-lg xl:text-xl 2xl:text-2xl;
                  }
                }
              }
            }
          }
        }

        &:nth-child(7) {
          @apply h-[28rem] xs:h-[30rem] sm:h-[30rem] md:h-[35rem] lg:h-[40rem] xl:h-[50rem] 2xl:h-[55rem] 3xl:h-[60rem];

          & .section-content {
            @apply flex flex-col flex-wrap items-center justify-start;
            @apply absolute left-0;
            @apply h-full w-full;
            @apply top-[10%] md:top-[0%] lg:top-0;
            @apply z-10;

            & .text-title-section {
              @apply absolute left-[25%];
              @apply top-[12%] md:top-[12%] lg:top-[8%];
              @apply flex w-full justify-center;
              @apply text-xs xs:text-base sm:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl 4xl:text-6xl 5xl:text-7xl;
              @apply text-center font-bold text-white;
              @apply w-[50%];
            }

            & .backer {
              @apply absolute left-[7%] lg:left-[12%];
              @apply top-[20%] xs:top-[24%] md:top-[28%] lg:top-[25%];
              @apply grid grid-cols-3 flex-row flex-wrap content-center justify-center lg:flex;
              @apply gap-x-[3.33%] xs:gap-x-[3.33%] lg:gap-x-[8%];
              @apply gap-y-[1rem] lg:gap-y-[2rem] 2xl:gap-y-[3rem];
              @apply w-[86%] lg:w-[76%];

              & > a {
                @apply flex justify-center lg:justify-end;
                @apply w-full lg:w-[17%];
                @apply h-[4rem] xs:h-[6rem] lg:h-[8rem];

                & > img {
                  @apply object-contain;
                  @apply w-[80%] xs:w-[90%] lg:w-full;
                }
              }

              & .mystenlabs {
                @apply content-[url('@/assets/images/backer-mystenlabs.svg')];
                @apply scale-[1.25];
              }

              & .sui-foundation {
                @apply content-[url('@/assets/images/backer-sui-foundation.png')];
                @apply scale-[0.95];
              }

              & .assembly-partners {
                @apply content-[url('@/assets/images/backer-assembly-partners.svg')];
                @apply scale-[0.75];
              }

              & .credit-scend {
                @apply content-[url('@/assets/images/backer-credit-scend.png')];
                @apply scale-[1];
              }

              & .phd-capital {
                @apply content-[url('@/assets/images/backer-phd-capital.svg')];
                @apply scale-[01];
              }

              & .lol-capital {
                @apply content-[url('@/assets/images/backer-lol-capital.png')];
                @apply scale-[1.1];
              }

              & .comma3 {
                @apply content-[url('@/assets/images/backer-comma3.png')];
                @apply scale-[1.25];
              }

              & .supra-oracles {
                @apply content-[url('@/assets/images/backer-supra-oracles.svg')];
                @apply scale-[0.85];
              }

              & .ottersec {
                @apply content-[url('@/assets/images/backer-ottersec.svg')];
              }

              & .movebit {
                @apply content-[url('@/assets/images/backer-movebit.svg')];
                @apply scale-[1.2];
              }
            }
          }
        }

        &:nth-child(8) {
          @apply h-[26rem] xs:h-[32rem] sm:h-[25rem] md:h-[30rem] lg:h-[48rem] xl:h-[50rem] 2xl:h-[48rem] 3xl:h-[50rem];

          & .section-content {
            @apply flex flex-col flex-wrap items-center justify-start;
            @apply absolute left-0;
            @apply h-full w-full;
            @apply top-[10%] sm:top-[30%] md:top-[15%] lg:top-[5%] 2xl:top-[10%];
            @apply z-10;

            & .text-title-section {
              @apply absolute left-[25%];
              @apply top-[12%] lg:top-[0%];
              @apply flex justify-center;
              @apply text-xs xs:text-base sm:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl 4xl:text-6xl 5xl:text-7xl;
              @apply text-center font-bold text-white;
              @apply w-[50%];
            }

            & .slide-container {
              @apply absolute left-[7%] lg:left-[12%];
              @apply top-[17%] xs:top-[20%] md:top-[23%] lg:top-[15%];
              @apply z-50 w-[86%] lg:w-[76%];
              @apply rounded-3xl;
              @apply flex justify-center;
              @apply cursor-grab;

              & .slide {
                @apply flex w-full items-stretch py-3;

                & .slide-item {
                  @apply mx-3 flex flex-col items-stretch rounded-sm bg-basic-darker/30 p-5 text-white;
                  @apply h-full rounded-md;

                  & .slide-item-logo {
                    @apply relative flex justify-start;
                    @apply h-10;
                  }

                  & .slide-item-message {
                    @apply my-2 grow md:my-7;
                    @apply text-[12px] xs:text-[14px]  lg:text-sm;
                    @apply leading-[1.2rem] xs:leading-[1.6rem] lg:leading-[2rem];
                    @apply opacity-90;
                  }

                  & .slide-item-profile {
                    @apply my-2 flex items-center gap-4;

                    & > img {
                      @apply block h-8 rounded-full xs:h-8 lg:h-11;
                    }

                    & .title {
                      @apply text-xs font-medium lg:text-base;
                    }

                    & .subtitle {
                      @apply text-xs opacity-80 lg:text-sm;
                    }
                  }
                }
              }
            }

            & .slick-track {
              @apply !flex;

              & .slick-slide {
                @apply h-auto w-auto;

                & > div {
                  @apply h-full;
                }
              }
            }

            & .slick-dots li button:before {
              @apply text-[6px] text-white lg:text-[10px];
            }

            & .slide .slick-prev,
            & .slide .slick-next {
              @apply h-[30px] w-[30px] !text-[34px];
              @apply opacity-80;
            }

            & .slick-prev:before,
            & .slick-next:before {
              @apply !text-[40px];
            }

            & .slick-prev {
              @apply left-[-50px];
            }

            & .slick-next {
              @apply right-[-40px];
            }

            & .roadmap {
              @apply absolute left-[7%] lg:left-[12%];
              @apply top-[17%] xs:top-[20%] md:top-[23%] lg:top-[15%];
              @apply content-[url('@/assets/images/content-roadmap.svg')];
              @apply z-50 w-[86%] lg:w-[76%];
              @apply rounded-3xl;
              @apply flex justify-center;
            }
          }
        }
      }
    }
  }

  & .home-footer {
    @apply relative flex items-center justify-center;
    @apply w-full;
    @apply h-[20rem] xs:h-[18rem] sm:h-[20rem] md:h-[20rem] lg:h-[24rem] xl:h-[32rem] 2xl:h-[40rem] 3xl:h-[48rem];
    @apply z-10;

    & .footer-scene {
      @apply overflow-hidden;
      @apply content-[url(@/assets/images/scene-seabed.svg)];
      @apply absolute bottom-0 h-auto w-full;
    }

    & .footer-content {
      @apply flex flex-col items-center;
      @apply absolute bottom-[20%] lg:bottom-[40%];
      @apply w-2/3 sm:w-1/3;

      & .menu {
        @apply w-full border-b p-3 pb-2 text-center lg:pb-4;

        & > a {
          @apply text-[0.7rem] sm:text-xs md:text-sm lg:text-base xl:text-base 2xl:text-xl;
          @apply font-semibold text-white;
          @apply leading-[0.7rem];
          @apply px-1 lg:px-2 xl:px-3;
          @apply hover:drop-shadow-[0_0_4px_#9CD0DD];
          @apply w-96 font-['Poppins'];
        }
      }

      & .community {
        @apply w-full p-3 text-center;

        & > a > img {
          @apply inline w-6 px-1 sm:px-2;
          @apply w-8 sm:w-10 lg:w-12 xl:w-12 2xl:w-20 2xl:px-5;
          @apply transition-all hover:scale-110 hover:text-gray-100;
          @apply hover:drop-shadow-[0_0_4px_#9CD0DD];
        }
      }

      & .footer-logo {
        @apply col-span-2 flex items-center justify-center gap-1 lg:gap-1.5 2xl:gap-2;
        @apply text-[14px] sm:text-base md:text-lg lg:text-2xl xl:text-3xl 2xl:text-4xl 4xl:text-5xl;
        @apply font-medium text-white 2xl:font-semibold;
        @apply py-2;

        & > img {
          @apply content-[url('@/assets/images/content-scallop-logo.webp')];
          @apply pointer-events-none block filter;
          @apply h-5 xs:h-6 sm:h-7 md:h-10 lg:h-8 xl:h-10 2xl:h-12;
        }
      }

      & .copyright {
        @apply mt-3 xs:mt-3 sm:mt-3;
        @apply text-[10px] sm:text-xs lg:text-sm;

        & > span {
          @apply rounded-full bg-gray-700 px-4 py-1 text-gray-100;
          @apply font-medium text-gray-200 2xl:font-semibold;
        }
      }
    }
  }

  & .back-to-top {
    @apply h-[1.8rem] md:h-[2.5rem];
    @apply w-[1.8rem] md:w-[2.5rem];
    @apply fixed bottom-[5%] md:bottom-[3.5%];
    @apply right-[5%] md:right-[3.5%];
    @apply cursor-pointer rounded-full p-2 shadow;
    @apply bg-white/60 text-gray-800/60 hover:bg-white/80;
    @apply animate-bounce transition-all;
    @apply z-50;
  }
}

@keyframes upAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: -translateY(0px);
  }
}
