@layer utilities {
  @variants responsive {
    .text-shadow-white {
      text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    }
    .text-shadow-sea {
      text-shadow: -1px 0 #507080, 0 1px #507080, 1px 0 #507080, 0 -1px #507080;
    }
  }
}

.Home {
    background: #8aa8ca linear-gradient(
        to bottom,
        #113355,
        #223344 50%,
        #333 75%,
        #333
    );
    @apply overflow-auto;
}

.Home-header,
.Home-banner,
.Home-banner-layer {
    height: 100px;
    @apply w-full;
}

.Home-header {
    background: #8cd1f4 radial-gradient(circle at 2.5rem 2rem, #fff 0%, #8cd1f4 30%);
    @apply relative overflow-hidden;
}

.Home-header-logo {
    @apply absolute flex top-4 xs:top-4 sm:top-5 md:top-8 lg:top-12 xl:top-14 2xl:top-16 left-9 xs:left-10 md:left-12 lg:left-20 xl:left-44 2xl:left-60;
}

.Home-header-nav {
    @apply absolute flex top-2 xs:top-3 sm:top-5 md:top-10 lg:top-16 2xl:top-20 right-12 xs:right-14 md:right-14 lg:right-16;
}

.Home-logo {
    @apply flex justify-center items-center;
}
.Home-logo-image {
    @apply block pointer-events-none filter drop-shadow h-10 xs:h-10 sm:h-12 md:h-12 lg:h-14 xl:h-16 2xl:h-20;
}
.Home-logo-text {
    font-family: 'Poppins';
    @apply relative font-bold leading-12 tracking-widest text-shadow-white filter drop-shadow ml-2 xs:ml-3 sm:ml-4 text-2xl md:text-3xl lg:text-4xl 2xl:text-5xl;
}

.Home-banner-layer {
    @apply absolute top-0 left-0 bg-bottom bg-cover bg-no-repeat;
}
.Home-banner-layer-1 {
    background-image: url(../resources/images/banner-layer1.svg);
}
.Home-banner-layer-2 {
    background-image: url(../resources/images/banner-layer2.svg);
}
.Home-banner-layer-3 {
    background-image: url(../resources/images/banner-layer3.svg);
}
.Home-banner-layer-4 {
    background-image: url(../resources/images/banner-layer4.svg);
}
.Home-banner-layer-5 {
    background-image: url(../resources/images/banner-layer5.svg);
}

.Home-wrap {
    background: linear-gradient(
        to bottom,
        #5b7482,
        #355261 50%,
        #1f3b4a 75%,
        #0d1e27
    );
    @apply relative -m-2;
}

.Home-wrap-bgMask {
    background: linear-gradient(
        to bottom,
        rgba(138, 168, 202, 1),
        rgba(138, 168, 202, 0.8) 10%,
        rgba(138, 168, 202, 0.75) 25%,
        rgba(138, 168, 202, 0.5) 50%,
        rgba(138, 168, 202, 0.25) 75%,
        rgba(27.6, 33.6, 40.4, 0.9) 100%
    );
    @apply absolute top-0 left-0 w-full h-full;
}

.Home-wrap-content {
    @apply absolute top-0 left-0 w-full h-full;
}


.Home-wrap section:nth-child(1),
.Home-wrap-content section:nth-child(1) {
    height: 20rem;
}

.Home-wrap section:nth-child(2),
.Home-wrap-content section:nth-child(2) {
    height: 30rem;
}

.Home-wrap section:nth-child(3),
.Home-wrap-content section:nth-child(3) {
    height: 50rem;
}

.Home-wrap section:nth-child(4),
.Home-wrap-content section:nth-child(4) {
    height: 45rem;
}

.Home-wrap section:nth-child(5),
.Home-wrap-content section:nth-child(5) {
    height: 15rem;
}

.Home-wrap-content-left {
    @apply w-full sm:w-1/2 flex flex-col justify-center items-center sm:items-start p-5 sm:p-0 sm:ml-8 md:ml-10 lg:ml-24 xl:ml-48 2xl:ml-64;
}

.Home-wrap-content section:nth-child(1) .Home-wrap-content-right {
    @apply w-full flex flex-col justify-center items-center sm:items-end p-5 sm:p-0 lg:mr-24 xl:mr-48 2xl:mr-64 sm:w-1/2 sm:justify-end sm:mr-8 md:mr-10;
}

.Home-wrap-content section:nth-child(2) .Home-wrap-content-right {
    @apply w-full flex flex-col justify-center items-center sm:items-end p-5 sm:p-0 lg:mr-24 xl:mr-48 2xl:mr-64 sm:w-1/2 sm:mr-8 md:mr-10;
}

.Home-wrap-content section:nth-child(4) .Home-wrap-content-right {
    @apply w-full flex flex-col justify-center items-center sm:items-end p-5 sm:p-0 lg:mr-24 xl:mr-48 2xl:mr-64 lg:w-4/6 xl:w-7/12 2xl:w-1/2 sm:mx-8 md:mx-10 lg:ml-0;
}

.Home-wrap-title {
    @apply w-full font-semibold whitespace-nowrap text-center sm:text-justify text-lg xs:text-xl sm:text-3xl leading-7;
}

.Home-wrap-descript {
    @apply w-full mt-4 font-medium text-gray-100 text-sm xs:text-base sm:text-lg  leading-6 xs:leading-9 lg:leading-loose;
}

.Home-wrap-btn {
    @apply font-medium whitespace-nowrap rounded-md px-2 xs:px-3 py-1.5 text-gray-700 bg-gray-100 bg-opacity-75 hover:bg-opacity-90 text-sm xs:text-base sm:text-lg;
}

.Home-cards,
.Home-map {
    @apply relative w-full;
}

.Home-cards {
    @apply  flex flex-wrap sm:flex-nowrap items-center gap-6 sm:gap-4 lg:gap-8;
}

.Home-card {
    background-color: rgba(70, 100, 120, 0.9);
    border: 2px solid rgba(150, 200, 220, 0.7);
    border-radius: 0.5rem;
    color: #bfeff0;
    @apply flex flex-col flex-nowrap items-center w-full h-auto lg:max-w-4xl sm:h-72 lg:h-80;
}
.Home-card-title {
    @apply w-full text-center text-sm xs:text-lg pt-2;
}
.Home-card-content {
    @apply w-full px-4 pt-1 pb-2.5 text-gray-100 text-xs xs:text-sm md:text-base xl:text-lg leading-7 xs:leading-10 sm:leading-relaxed lg:leading-loose;
}

.Home-map {
    @apply xl:float-right grid grid-cols-2 sm:grid-rows-1 grid-flow-row gap-x-10 gap-y-2;
}

.Home-map:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0.4rem;
    width: 1px;
    height: 100%;
    background-color: rgba(80, 120, 140, 0.9);
    border-radius: 50%;
    z-index: 1;
}

.Home-road {
    position: relative;
}
.Home-road:nth-child(1) {
    @apply col-span-2 sm:col-span-1 sm:row-span-4 sm:row-start-1;
}
.Home-road:nth-child(2) {
    @apply col-span-2 sm:col-span-1 sm:row-span-4 sm:row-start-2;
}
.Home-road:nth-child(3) {
    @apply col-span-2 sm:col-span-1 sm:row-span-4 sm:row-start-5;
}
.Home-road:nth-child(4) {
    @apply col-span-2 sm:col-span-1 sm:row-span-2 sm:row-start-7;
}

.Home-road:nth-child(1):after,
.Home-road:nth-child(3):after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0rem;
    width: 0.8rem;
    height: 0.8rem;
    background-color: rgba(150, 200, 220, 1);
    border-radius: 50%;
    z-index: 5;
}
.Home-road:nth-child(1):before,
.Home-road:nth-child(3):before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0.8rem;
    width: 1rem;
    height: 0.5rem;
    border-bottom: 1.5px dashed rgba(150, 200, 220, 0.7);
}

.Home-road:nth-child(2):before,
.Home-road:nth-child(4):before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0rem;
    width: 0.8rem;
    height: 0.8rem;
    background-color: rgba(150, 200, 220, 1);
    border-radius: 50%;
    z-index: 5;
}

.Home-road:nth-child(2):after,
.Home-road:nth-child(4):after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0.8rem;
    width: 1rem;
    height: 0.5rem;
    border-bottom: 1.5px dashed rgba(150, 200, 220, 0.7);
}

.Home-road-title {
    @apply w-full text-shadow-sea font-semibold pl-10 sm:p-0 text-sm xs:text-lg lg:text-xl;
}
.Home-road-content {
    @apply w-full pl-14 pt-1 pb-2.5 sm:pl-4 sm:pr-0 text-gray-100 text-xs xs:text-base md:text-lg leading-6 xs:leading-9 sm:leading-8 md:leading-10;
}

.Home-nav {
    @apply text-shadow-sea hover:text-gray-100;
}

.Home-hr {
    height: 2px;
    background: linear-gradient(
        90deg,
        rgba(80, 110, 130, 0) 0%,
        rgba(80, 110, 130, 1) 50%,
        rgba(80, 110, 130, 0) 100%
    );
}

@media (min-width: 480px) {
    .Home-header,
    .Home-banner,
    .Home-banner-layer {
        height: 140px;
    }

    .Home-wrap section:nth-child(1),
    .Home-wrap-content section:nth-child(1) {
        height: 25rem;
    }

    .Home-wrap section:nth-child(2),
    .Home-wrap-content section:nth-child(2) {
        height: 35rem;
    }

    .Home-wrap section:nth-child(3),
    .Home-wrap-content section:nth-child(3) {
        height: 45rem;
    }

    .Home-wrap section:nth-child(4),
    .Home-wrap-content section:nth-child(4) {
        height: 55rem;
    }

    .Home-wrap section:nth-child(5),
    .Home-wrap-content section:nth-child(5) {
        height: 17.5rem;
    }
}
@media (min-width: 640px) {
    .Home-header,
    .Home-banner,
    .Home-banner-layer {
        height: 180px;
    }

    .Home-wrap section:nth-child(1),
    .Home-wrap-content section:nth-child(1) {
        height: 30rem;
    }

    .Home-wrap section:nth-child(2),
    .Home-wrap-content section:nth-child(2) {
        height: 40rem;
    }

    .Home-wrap section:nth-child(3),
    .Home-wrap-content section:nth-child(3) {
        height: 35rem;
    }

    .Home-wrap section:nth-child(4),
    .Home-wrap-content section:nth-child(4) {
        height: 50rem;
    }

    .Home-wrap section:nth-child(5),
    .Home-wrap-content section:nth-child(5) {
        height: 22.5rem;
    }

    .Home-cards {
        width: calc(200% - 4rem);
    }

    .Home-map:after {
        left: calc(50% - 0.75rem);
    }

    .Home-road:nth-child(1):after,
    .Home-road:nth-child(3):after {
        right: -1rem;
        left: auto;
        width: 1rem;
        height: 1rem;
    }
    .Home-road:nth-child(1):before,
    .Home-road:nth-child(3):before {
        right: 0rem;
        left: auto;
    }

    .Home-road:nth-child(2):before,
    .Home-road:nth-child(4):before {
        left: -2.5rem;
        width: 1rem;
        height: 1rem;
    }

    .Home-road:nth-child(2):after,
    .Home-road:nth-child(4):after {
        left: -1.5rem;
    }
}
@media (min-width: 768px) {
    .Home-header,
    .Home-banner,
    .Home-banner-layer {
        height: 220px;
    }

    .Home-wrap section:nth-child(1),
    .Home-wrap-content section:nth-child(1) {
        height: 30rem;
    }

    .Home-wrap section:nth-child(2),
    .Home-wrap-content section:nth-child(2) {
        height: 40rem;
    }

    .Home-wrap section:nth-child(3),
    .Home-wrap-content section:nth-child(3) {
        height: 35rem;
    }

    .Home-wrap section:nth-child(4),
    .Home-wrap-content section:nth-child(4) {
        height: 50rem;
    }

    .Home-cards {
        width: calc(200% - 5rem);
    }
}
@media (min-width: 1024px) {
    .Home-header,
    .Home-banner,
    .Home-banner-layer {
        height: 300px;
    }
    .Home-font {
        font-size: 2.25rem;
    }

    .Home-header {
        background: #8cd1f4 radial-gradient(circle at 6.5rem 5rem, #fff 0%, #8cd1f4 30%);
    }

    .Home-wrap section:nth-child(1),
    .Home-wrap-content section:nth-child(1) {
        height: 30rem;
    }

    .Home-wrap section:nth-child(2),
    .Home-wrap-content section:nth-child(2) {
        height: 45rem;
    }

    .Home-wrap section:nth-child(3),
    .Home-wrap-content section:nth-child(3) {
        height: 45rem;
    }

    .Home-wrap section:nth-child(4),
    .Home-wrap-content section:nth-child(4) {
        height: 60rem;
    }

    .Home-wrap section:nth-child(5),
    .Home-wrap-content section:nth-child(5) {
        height: 22.5rem;
    }

    .Home-cards {
        width: calc(200% - 11rem);
    }
}
@media (min-width: 1280px) {
    .Home-header,
    .Home-banner,
    .Home-banner-layer {
        height: 380px;
    }

    .Home-header {
        background: #8cd1f4 radial-gradient(circle at 12rem 7rem, #fff 0%, #8cd1f4 30%);
    }

    .Home-wrap section:nth-child(1),
    .Home-wrap-content section:nth-child(1) {
        height: 30rem;
    }

    .Home-wrap section:nth-child(2),
    .Home-wrap-content section:nth-child(2) {
        height: 45rem;
    }

    .Home-wrap section:nth-child(3),
    .Home-wrap-content section:nth-child(3) {
        height: 45rem;
    }

    .Home-wrap section:nth-child(4),
    .Home-wrap-content section:nth-child(4) {
        height: 55rem;
    }

    .Home-wrap section:nth-child(5),
    .Home-wrap-content section:nth-child(5) {
        height: 25rem;
    }

    .Home-cards {
        width: calc(200% - 24rem);
        max-width: 60rem;
    }
}
@media (min-width: 1536px) {
    .Home-header,
    .Home-banner,
    .Home-banner-layer {
        height: 410px;
    }

    .Home-header {
        background: #8cd1f4 radial-gradient(circle at 15rem 8rem, #fff 0%, #8cd1f4 30%);
    }

    .Home-wrap section:nth-child(1),
    .Home-wrap-content section:nth-child(1) {
        height: 40rem;
    }

    .Home-wrap section:nth-child(3),
    .Home-wrap-content section:nth-child(3) {
        height: 35rem;
    }

    .Home-wrap section:nth-child(4),
    .Home-wrap-content section:nth-child(4) {
        height: 65rem;
    }

    .Home-wrap section:nth-child(5),
    .Home-wrap-content section:nth-child(5) {
        height: 25rem;
    }
}
