.Home {
    @apply overflow-auto;
}

.Home-header,
.Home-banner,
.Home-banner-layer {
    @apply w-full;
}

.Home-header {
    @apply relative h-full overflow-hidden;
}

.Home-banner-layer{
    @apply absolute bg-cover bg-no-repeat;
}

.Home-banner-layer-1{
    background-image: url(../resources/images/top-banner-layer.png);
}

.Home-banner-layer-2 {
    background-image: url(../resources/images/cloud-banner-1.svg);
}

.Home-banner-layer-3 {
    background-image: url(../resources/images/cloud-banner-2.svg);
    bottom: -17%;
}

.Home-header-logo {
    @apply absolute flex top-4 xs:top-8 sm:top-10 md:top-14 lg:top-16 xl:top-20 2xl:top-24 left-10 xs:left-20 sm:left-20 md:left-28 lg:left-40 xl:left-64 2xl:left-72;
}
.Home-logo {
    @apply flex justify-center items-center;
}
.Home-logo-image {
    content: url("../resources/images/logo-black.svg");
    @apply block pointer-events-none filter h-12 xs:h-12 sm:h-14 md:h-16 lg:h-20 xl:h-24 2xl:h-28;
}

@media (max-width: 639px) {
    .Home-header,
    .Home-banner,
    .Home-banner-layer{
        height: 180px;
    }
}

@media (min-width: 640px) {
    .Home-header,
    .Home-banner,
    .Home-banner-layer{
        height: 220px;
    }
}

@media (min-width: 768px) {
    .Home-header,
    .Home-banner,
    .Home-banner-layer,
    .Home-bottom-banner-layer{
        height: 280px;
    }
}

@media (min-width: 1028px) {
    .Home-header,
    .Home-banner,
    .Home-banner-layer{
        height: 360px;
    }
}

@media (min-width: 1280px) {
    .Home-header,
    .Home-banner,
    .Home-banner-layer{
        height: 450px;
    }
}

@media (min-width: 1536px){
    .Home-header,
    .Home-banner,
    .Home-banner-layer {
        height: 540px;
    }
}
