.Home {
    @apply overflow-auto;
    background: linear-gradient(180deg, #98c9ff 13%, #265c83 27.7%, #081c28 100%);
}

.Home-header,
.Home-banner,
.Home-banner-layer {
    @apply w-full;
}

.Home-header {
    @apply h-full bg-[#9cd0ff];
}

.Home-banner {
    @apply relative h-full overflow-hidden;
}

.Home-banner-layer {
    @apply absolute;
}

.Home-banner-sun {
    background: transparent radial-gradient(circle at 25% 25%, #fff 0%, transparent 25%);
}

.Home-banner-clould-1 {
    background: url('../resources/images/banner-clould-1.svg') local no-repeat top/100%,
        linear-gradient(to bottom, transparent 0% calc(100vw / 2.7 * 0.85), #c1e0ff calc(100vw / 2.7 * 0.85), rgba(193, 224, 255, 1) 100%);
}

.Home-banner-clould-2 {
    background: url('../resources/images/banner-clould-2.svg') local no-repeat top/100%;
}

.Home-banner-clould-3 {
    background: url('../resources/images/banner-clould-3.svg') local no-repeat top/100%;
}

.Home-banner-clould-4 {
    background: url('../resources/images/banner-clould-4.svg') local no-repeat top/100%;
}

.Home-banner-sea {
    background: transparent
        linear-gradient(
            to bottom,
            transparent 70%,
            #c1e0ff 70%,
            #b8ddfc 74.5%,
            #abd5ff 79%,
            #a5d0fd 83.5%,
            #a0ccf8 88%,
            #94bfef 95.5%,
            #86b5ea 100%
        );
    bottom: 0;
}

.Home-banner-wave {
    background: url('../resources/images/banner-wave.svg') local no-repeat bottom / 100%;
    bottom: 0;
}

.Home-navigation {
    color: #07476f;
    @apply absolute grid grid-cols-6 gap-1 w-full top-0 h-12 xs:h-12 sm:h-12 md:h-14 lg:h-16 xl:h-20 2xl:h-24 xs:top-0 sm:top-0 md:top-2 lg:top-6 xl:top-10 2xl:top-20;
}

.Home-navigation .active {
    color: #969696;
}

.Home-nav-menu {
    @apply flex sm:text-sm md:text-base lg:text-base xl:text-xl 2xl:text-2xl text-center;
}

.Home-header-logo {
    @apply flex;
}

.Home-logo {
    @apply flex justify-center items-center ml-10 xs:ml-10;
}

.Home-logo-image {
    content: url('../resources/images/logo-black.svg');
    @apply block pointer-events-none filter h-10 xs:h-10 sm:h-10 md:h-14 lg:h-12 xl:h-14 2xl:h-20 mt-5 xs:mt-5 sm:mt-10 md:mt-10 lg:mt-0;
}

.Home-wrapper {
    @apply relative;
}

.Home-wrapper,
footer {
    @apply overflow-hidden;
}

.Home-wrapper section:nth-child(1) .section-0-content {
    color: #1e2d45;
    background-position: 100% 100%;
    background-size: 100% 100%;
    @apply relative;
}

.Home-wrapper section:nth-child(1) .group-of-fish {
    @apply absolute w-1/4 left-0 bottom-0;
}

.section-0-content .text-title-1 {
    @apply text-xs xs:text-base sm:text-base font-semibold md:text-lg lg:text-xl xl:text-4xl 2xl:text-5xl mb-2 xs:mb-0 sm:mb-4 md:mb-3 lg:mb-3 xl:mb-4 2xl:mb-4;
}

.section-0-content .text-title-2 {
    @apply text-xs xs:text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl;
}

.Home-wrapper section:nth-child(2) {
    background-size: 100% 100%;
    background-position: 100% 100%;
    @apply relative bg-no-repeat;
}

.Home-wrapper section:nth-child(2) .group-of-fish {
    @apply absolute w-1/4 right-10 bottom-0 2xl:right-52 2xl:bottom-0;
}
.Home-wrapper section:nth-child(2) .group-of-zebra-fish {
    @apply absolute w-full right-0 bottom-20 md:bottom-8 md:right-0 2xl:right-52 2xl:bottom-40;
}

.Home-wrapper section:nth-child(2) .section-1-content {
    @apply absolute w-full h-full;
}

.Home-wrapper section:nth-child(2) .section-1-rock-1 {
    left: -0.2%;
    content: url('../resources/images/section-1-rock-left.svg');
    @apply absolute;
}

.Home-wrapper section:nth-child(2) .section-1-rock-2 {
    content: url('../resources/images/section-1-rock-right.svg');
    right: 0;
    bottom: 0;
    @apply absolute;
}

.Home-wrapper section:nth-child(2) .section-1-bubble-container {
    background: url('../resources/images/bubble-container.svg');
    background-size: 100% auto;
    width: 30rem;
    height: 15rem;
    @apply bg-no-repeat;
}

.Home-wrapper section:nth-child(2) .section-1-bubble-container-2 {
    background-image: url('../resources/images/bubble-container-2.svg');
    background-size: 100% auto;
    width: 30rem;
    height: 15rem;
    @apply bg-no-repeat;
}

.section-1-bubble-container-text-title {
    @apply xs:text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl sm:mb-1 md:mb-2 lg:mb-3 xl:mb-4 2xl:mb-5 text-white;
}

.section-1-bubble-container-text-number {
    @apply xs:text-sm sm:text-base md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl text-white;
}

.section-1-bubble-container-text-position {
    @apply flex flex-col items-center;
}

.section-1-content .two-jellyfish {
    content: url(../resources/images/two-jellyfish.svg);
    right: 15%;
    top: 33%;
    width: 10%;
}

.bubble-position-1 {
    right: 5%;
    top: 10%;
}

.bubble-position-2 {
    left: 10%;
    bottom: 5%;
}

.Home-wrapper section:nth-child(3) {
    background-size: 100% 100%;
    @apply relative;
}

.Home-wrapper section:nth-child(3) .group-of-fish {
    @apply absolute w-2/4 left-1/4 bottom-0;
}

.Home-wrapper section:nth-child(3) .rock-left-container {
    @apply relative w-7/12 md:w-full h-auto;
}

.Home-wrapper section:nth-child(3) .rock-left {
    content: url('../resources/images/section-3-rock-left.svg');
    @apply w-full h-auto;
}

.Home-wrapper section:nth-child(3) #rock-left-hermit {
    @apply absolute w-1/4;
    top: 21%;
    left: 40%;
}

.Home-wrapper section:nth-child(3) .rock-right {
    content: url('../resources/images/section-3-rock-right.svg');
    @apply absolute;
}

.Home-wrapper section:nth-child(3) h1 {
    @apply absolute text-white font-bold text-xs xs:text-base sm:text-xl md:text-xl lg:text-2xl xl:text-3xl 2xl:text-5xl left-10 xs:left-10 md:left-32 lg:left-40 xl:left-40 2xl:left-44;
}

.Home-wrapper section:nth-child(4) {
    background-size: 100% 100%;
    @apply relative bg-no-repeat flex justify-center items-center;
}

.Home-wrapper section:nth-child(5) {
    background-size: 100% 100%;
    @apply relative bg-no-repeat flex justify-center items-center;
}

.Home-wrapper section:nth-child(6) {
    background-size: 100% 100%;
    @apply relative bg-no-repeat flex justify-center items-center;
}

footer {
    background-size: 100% 100%;
    @apply relative h-1/2 bg-no-repeat flex justify-center items-center;
}

.Home-wrapper section:nth-child(4) .text-title-section {
    @apply absolute text-white font-bold text-xs xs:text-base sm:text-xl md:text-xl lg:text-2xl xl:text-3xl 2xl:text-5xl top-5 xs:top-10 2xl:top-36 left-10 xs:left-10 md:left-32 lg:left-40 xl:left-40 2xl:left-44;
}

.Home-wrapper section:nth-child(4) .roadmap {
    content: url('../resources/images/roadmap.png');
    margin-right: 10.2rem;
}

.Home-wrapper section:nth-child(4) .text-title {
    @apply text-xs xs:text-sm md:text-sm lg:text-lg xl:text-xl 2xl:text-2xl text-white font-bold lg:mb-1 lg:mt-2 xl:mt-4;
}

.Home-wrapper section:nth-child(4) .text-list {
    @apply list-disc text-white sm:ml-4 lg:ml-6;
}

.text-roadmap-1 {
    @apply absolute xs:ml-40 2xl:ml-8 xs:top-8;
}

.text-roadmap-2 {
    @apply absolute xs:-ml-40;
}

.text-roadmap-3 {
    @apply absolute;
}

.Home-wrapper section:nth-child(4) .rock-left {
    content: url('../resources/images/section-4-rock-left.svg');
    @apply absolute bottom-0 left-0;
}

.Home-wrapper section:nth-child(4) .rock-right {
    content: url('../resources/images/section-4-rock-right.svg');
    @apply absolute bottom-0 -right-1;
}

.Home-wrapper section:nth-child(5) .core-team-submarine {
    @apply w-10/12 md:w-1/2 pl-5 pt-5;
    content: url('../resources/images/submarine-core-team.svg');
}

.Home-wrapper section:nth-child(5) .group-of-turtle {
    @apply absolute w-1/4 right-1/4 top-1/4;
}

.Home-wrapper section:nth-child(5) .group-of-jellyfish {
    @apply absolute w-1/4 right-0 top-1/3;
}

.Home-wrapper section:nth-child(5) .group-of-fish {
    @apply absolute w-1/4 left-0 top-1/4;
}

.Home-wrapper section:nth-child(5) .stingray-container {
    @apply lg:w-6/12;
}

.Home-wrapper section:nth-child(5) .stingray-container .group-of-stingray {
    @apply w-3/12 md:w-6/12 mx-auto;
    content: url('../resources/images/group-of-stingrays.svg');
}

.Home-wrapper section:nth-child(5) .teams {
    @apply grid grid-cols-2 place-items-center gap-4 md:gap-6 lg:gap-10 md:w-9/12 lg:w-6/12 xl:w-5/12 2xl:w-5/12;
}

.Home-wrapper section:nth-child(5) .card-team {
    @apply flex border-2 rounded-3xl px-1 py-1 xs:px-2 md:px-3;
    border-color: #aad6ff;
    @apply h-28 sm:h-32 lg:h-32 xl:h-40 2xl:h-44;
    @apply w-full;
}

.Home-wrapper section:nth-child(5) .card-team .card-profile {
    @apply flex-grow flex flex-col my-auto;
}

.Home-wrapper section:nth-child(5) .card-team .card-profile .avatar {
    @apply border-2 rounded-full mx-auto w-8 xs:w-10 sm:w-16 md:w-16 lg:w-16 xl:w-20 2xl:w-20 h-auto;
    border-color: #aad6ff;
}

.Home-wrapper section:nth-child(5) .card-team .card-profile .title {
    @apply text-white mt-2 mx-auto text-center text-2xs sm:text-xs lg:text-sm 2xl:text-base;
}

.Home-wrapper section:nth-child(5) .card-team .card-content {
    @apply flex-grow flex flex-col my-auto pl-3;
}

.Home-wrapper section:nth-child(5) .card-team .card-content .card-name {
    @apply text-white text-xs sm:text-sm lg:text-base xl:text-lg 2xl:text-xl;
}

.Home-wrapper section:nth-child(5) .card-team .card-content .card-links {
    @apply flex flex-wrap;
}

.Home-wrapper section:nth-child(5) .card-team .card-content .card-links a {
    @apply mr-1 mt-1;
}

.Home-wrapper section:nth-child(6) .content {
    @apply absolute w-full h-full p-5;
}

.Home-wrapper section:nth-child(6) .content h1 {
    @apply absolute text-white font-bold text-xs xs:text-base sm:text-xl md:text-xl lg:text-2xl xl:text-3xl 2xl:text-5xl top-5 xs:top-10 2xl:top-36 left-10 xs:left-10 md:left-32 lg:left-40 xl:left-40 2xl:left-44;
}

.Home-wrapper section:nth-child(6) .whale {
    @apply absolute w-2/3 left-2/4;
    content: url('../resources/images/whale.svg');
}

.Home-wrapper section:nth-child(6) .two-jellyfish {
    content: url(../resources/images/two-jellyfish.svg);
    transform: rotateY(-180deg);
    bottom: 0;
    right: 10%;
    width: 7%;
}

.Home-wrapper section:nth-child(6) .group-of-fish {
    @apply absolute w-1/4 left-0 bottom-1/4;
}

footer .seabed {
    @apply absolute bottom-0 w-full h-auto;
    content: url(../resources/images/seabed.svg);
}

footer .content {
    @apply absolute w-2/3 sm:w-1/3 flex flex-col items-center;
    bottom: 30%;
}

footer .content .menu {
    @apply border-b w-full p-3 text-center pb-2 lg:pb-4;
}

footer .content .menu a {
    @apply inline px-1 font-semibold text-white text-2xs sm:text-2xs md:text-sm lg:text-lg lg:px-2 xl:px-3 xl:text-xl 2xl:text-2xl;
    font-family: 'Poppins';
}

footer .content .social-media {
    @apply w-full p-3 text-center;
}

footer .content .social-media a img {
    @apply inline px-1 w-6 sm:w-10 sm:px-2 md:w-10 lg:w-12 xl:w-12 2xl:w-20 2xl:px-4;
}

footer .content .logo {
    @apply w-1/2 xl:w-1/3 text-center;
    content: url(../resources/images/logo-white.png);
}

.Home-wrapper section:nth-child(5) .card-team .card-content .card-links .twitter {
    @apply w-4 h-auto lg:w-6 mt-2;
    content: url(../resources/images/twitter-rounded.svg);
}

.Home-button {
    background: rgba(255, 255, 255, 0.6);
    color: #1e2d45;
    @apply text-center p-1 rounded-md xs:rounded-md sm:rounded-lg;
}

.button-header {
    @apply w-20 sm:w-28 lg:w-36 xl:w-40 2xl:w-48 sm:text-sm md:text-base text-2xs lg:text-base xl:text-lg 2xl:text-2xl;
}

.seahorse {
    @apply absolute w-1/12;
}

.lonely-zebrafish {
    content: url('../resources/images/lonely-zebrafish.svg');
    @apply relative w-1/12;
}

@media (min-width: 0px) {
    .Home-banner {
        height: 12rem;
    }

    .Home-banner-layer {
        height: 10rem;
    }

    .Home-wrapper section:nth-child(1) {
        height: 10rem;
    }

    .Home-wrapper section:nth-child(2) {
        height: 23rem;
    }
    .Home-wrapper section:nth-child(4) {
        height: 16rem;
    }

    .Home-wrapper section:nth-child(3) {
        height: 30rem;
    }

    .Home-wrapper section:nth-child(5),
    .Home-wrapper section:nth-child(6) {
        height: 40rem;
    }

    footer {
        height: 14rem;
    }

    .Home-wrapper section:nth-child(2) .section-1-rock-1 {
        width: 8rem;
        top: 19%;
    }

    .Home-wrapper section:nth-child(2) .section-1-rock-2 {
        width: 14%;
        bottom: 4%;
    }

    .Home-wrapper section:nth-child(2) .section-1-bubble-container {
        width: 8rem;
        height: 4rem;
    }

    .Home-wrapper section:nth-child(2) .section-1-bubble-container-2 {
        width: 8rem;
        height: 4rem;
    }

    .Home-wrapper section:nth-child(3) .rock-right {
        right: 0;
        bottom: 0;
        height: 10rem;
    }

    .bubble-position-1 {
        right: 20%;
        top: 40%;
    }

    .bubble-position-2 {
        left: 17%;
        bottom: 18%;
    }
    .section-1-bubble-container-text-title {
        font-size: 8px;
        margin-top: 0px;
    }

    .section-1-bubble-container-text-number {
        @apply text-sm font-bold;
    }

    .section-0-content .text-title-1 {
        line-height: 1.2rem !important;
    }

    .Home-wrapper section:nth-child(4) .roadmap {
        height: 12rem;
        margin-right: 2rem;
    }
    .Home-wrapper section:nth-child(4) .rock-left {
        height: 6rem;
    }
    .Home-wrapper section:nth-child(4) .rock-right {
        height: 4rem;
        bottom: 0;
    }
    .Home-wrapper section:nth-child(4) .text-title {
        font-size: 7px;
    }
    .Home-wrapper section:nth-child(4) .text-list {
        font-size: 5.5px;
        @apply -mt-1;
    }
    .text-roadmap-1 {
        @apply ml-36 mt-3;
    }
    .text-roadmap-2 {
        margin-top: 75px;
        @apply -ml-48;
    }
    .text-roadmap-3 {
        margin-top: 138px;
        @apply ml-36;
    }
    .Home-wrapper section:nth-child(6) .two-jellyfish {
        width: 12%;
    }
    .seahorse {
        width: 14px;
        bottom: 40px;
        right: 57px;
    }
    .lonely-zebrafish {
        top: -2rem;
        left: 1rem;
        width: 20px;
    }
}

@media (min-width: 480px) {
    .Home-banner {
        height: 16rem;
    }

    .Home-banner-layer {
        height: 13rem;
    }

    .Home-wrapper section:nth-child(1) {
        height: 10rem;
    }

    .Home-wrapper section:nth-child(2) {
        height: 28rem;
    }
    .Home-wrapper section:nth-child(4) {
        height: 18rem;
    }

    .Home-wrapper section:nth-child(3) {
        height: 35rem;
    }

    .Home-wrapper section:nth-child(5),
    .Home-wrapper section:nth-child(6) {
        height: 40rem;
    }

    footer {
        height: 16rem;
    }

    .Home-wrapper section:nth-child(2) .section-1-rock-1 {
        width: 33%;
        top: 19%;
    }

    .Home-wrapper section:nth-child(2) .section-1-rock-2 {
        width: 15%;
        bottom: 4%;
    }
    .Home-wrapper section:nth-child(2) .section-1-bubble-container-text-position {
        margin-top: -8px;
    }
    .Home-wrapper section:nth-child(2) .section-1-bubble-container {
        width: 10rem;
        height: 6rem;
    }

    .Home-wrapper section:nth-child(2) .section-1-bubble-container-2 {
        width: 9rem;
        height: 5rem;
    }

    .Home-wrapper section:nth-child(3) .rock-right {
        right: 0;
        bottom: 0;
        height: 10rem;
    }

    .section-1-content .two-jellyfish {
        right: 18%;
    }

    .bubble-position-1 {
        right: 25%;
        top: 40%;
    }

    .bubble-position-2 {
        left: 20%;
        bottom: 15%;
    }

    .section-1-bubble-container-text-title {
        @apply text-xs;
    }

    .section-1-bubble-container-text-number {
        @apply text-base font-bold;
    }

    .section-0-content .text-title-1 {
        line-height: 1.5rem !important;
    }

    .Home-wrapper section:nth-child(4) .roadmap {
        height: 14rem;
        margin-right: 2rem;
    }
    .Home-wrapper section:nth-child(4) .text-title {
        font-size: 10px;
    }
    .Home-wrapper section:nth-child(4) .text-list {
        font-size: 7px;
    }
    .text-roadmap-1 {
        @apply ml-44 -mt-5;
    }
    .text-roadmap-2 {
        margin-top: 86px;
        @apply -ml-52;
    }
    .text-roadmap-3 {
        margin-top: 162px;
        @apply ml-44;
    }
    .Home-wrapper section:nth-child(4) .rock-left {
        height: 8rem;
    }
    .Home-wrapper section:nth-child(4) .rock-right {
        height: 5rem;
    }
    .Home-wrapper section:nth-child(6) .two-jellyfish {
        width: 10%;
    }
    .seahorse {
        width: 14px;
        bottom: 40px;
        right: 57px;
    }
    .lonely-zebrafish {
        top: -3rem;
        left: 2rem;
        width: 30px;
    }
}

@media (min-width: 640px) {
    .Home-banner {
        height: 22rem;
    }

    .Home-banner-layer {
        height: 17rem;
    }

    .Home-wrapper section:nth-child(1) {
        height: 17rem;
    }

    .Home-wrapper section:nth-child(2),
    .Home-wrapper section:nth-child(3),
    .Home-wrapper section:nth-child(4) {
        height: 36rem;
    }

    .Home-wrapper section:nth-child(5),
    .Home-wrapper section:nth-child(6) {
        height: 50rem;
    }

    footer {
        height: 12rem;
    }

    .Home-wrapper section:nth-child(2) .section-1-rock-1 {
        width: 29.8%;
        top: 19%;
    }

    .Home-wrapper section:nth-child(2) .section-1-rock-2 {
        width: 14%;
        bottom: 4%;
    }

    .Home-wrapper section:nth-child(2) .section-1-bubble-container {
        width: 15rem;
        height: 8rem;
    }

    .Home-wrapper section:nth-child(2) .section-1-bubble-container-2 {
        width: 13rem;
        height: 7rem;
    }

    .Home-wrapper section:nth-child(3) .rock-right {
        right: 0;
        bottom: 0;
        height: 17rem;
    }

    .section-1-content .two-jellyfish {
        right: 8%;
    }

    .bubble-position-1 {
        right: 20%;
        top: 40%;
    }

    .bubble-position-2 {
        left: 15%;
        bottom: 18%;
    }

    .section-1-bubble-container-text-title {
        @apply text-sm mb-0;
    }

    .section-1-bubble-container-text-number {
        @apply text-2xl font-bold;
    }

    .section-0-content .text-title-1 {
        line-height: 2.5rem !important;
    }

    .Home-wrapper section:nth-child(4) .roadmap {
        height: 18rem;
        margin-right: 5rem;
    }
    .Home-wrapper section:nth-child(4) .text-title {
        font-size: 12px;
    }
    .Home-wrapper section:nth-child(4) .text-list {
        font-size: 9px;
    }
    .text-roadmap-1 {
        @apply ml-44 -mt-3;
    }
    .text-roadmap-2 {
        margin-top: 110px;
        margin-left: -300px;
    }
    .text-roadmap-3 {
        margin-top: 210px;
        @apply ml-44;
    }
    .Home-wrapper section:nth-child(4) .rock-left {
        height: 12rem;
    }
    .Home-wrapper section:nth-child(4) .rock-right {
        height: 8rem;
    }
    .Home-wrapper section:nth-child(6) .two-jellyfish {
        width: 7%;
    }
    .seahorse {
        width: 18px;
        bottom: 70px;
        right: 105px;
    }
    .lonely-zebrafish {
        top: -4rem;
        left: 2rem;
        width: 40px;
    }
}

@media (min-width: 768px) {
    .Home-banner {
        height: 22rem;
    }

    .Home-banner-layer {
        height: 17rem;
    }

    .Home-wrapper section:nth-child(1) {
        height: 18rem;
    }

    .Home-wrapper section:nth-child(2),
    .Home-wrapper section:nth-child(3),
    .Home-wrapper section:nth-child(4) {
        height: 36rem;
    }

    .Home-wrapper section:nth-child(2) .section-1-rock-1 {
        width: 29.8%;
        top: 19%;
    }

    .Home-wrapper section:nth-child(2) .section-1-rock-2 {
        width: 14%;
        bottom: 4%;
    }

    .Home-wrapper section:nth-child(2) .section-1-bubble-container {
        width: 22rem;
        height: 10rem;
    }

    .Home-wrapper section:nth-child(2) .section-1-bubble-container-2 {
        width: 20rem;
        height: 10rem;
    }

    .Home-wrapper section:nth-child(3) .rock-right {
        right: 0;
        bottom: 2%;
        height: 20rem;
    }

    .section-1-content .two-jellyfish {
        top: 40%;
        right: 15%;
    }

    .bubble-position-1 {
        right: 20%;
        top: 18%;
    }

    .bubble-position-2 {
        left: 17%;
        bottom: 12%;
    }

    .section-1-bubble-container-text-title {
        @apply text-lg;
    }

    .section-1-bubble-container-text-number {
        @apply text-3xl font-bold;
    }

    .section-0-content .text-title-1 {
        line-height: 2rem !important;
    }

    .Home-wrapper section:nth-child(4) .roadmap {
        height: 24rem;
        margin-right: 6rem;
    }
    .Home-wrapper section:nth-child(4) .text-title {
        font-size: 18px;
    }
    .Home-wrapper section:nth-child(4) .text-list {
        font-size: 12px;
    }
    .text-roadmap-1 {
        @apply ml-60 -mt-1;
    }
    .text-roadmap-2 {
        @apply mr-32 mt-40;
    }
    .text-roadmap-3 {
        @apply ml-60 mt-72;
    }

    .Home-wrapper section:nth-child(4) .rock-left {
        height: 12rem;
    }
    .Home-wrapper section:nth-child(4) .rock-right {
        height: 10rem;
    }
    .seahorse {
        width: 18px;
        bottom: 110px;
        right: 120px;
    }
    .lonely-zebrafish {
        top: -4rem;
        left: 2rem;
        width: 40px;
    }
}

@media (min-width: 1024px) {
    .Home-banner {
        height: 32rem;
    }

    .Home-banner-layer {
        height: 25rem;
    }

    .Home-wrapper section:nth-child(1) {
        height: 26rem;
    }

    .Home-wrapper section:nth-child(2),
    .Home-wrapper section:nth-child(3),
    .Home-wrapper section:nth-child(4) {
        height: 36rem;
    }

    .Home-wrapper section:nth-child(5),
    .Home-wrapper section:nth-child(6) {
        height: 60rem;
    }

    footer {
        height: 20rem;
    }

    .Home-wrapper section:nth-child(2) .section-1-rock-1 {
        width: 29.8%;
        top: 19%;
    }

    .Home-wrapper section:nth-child(2) .section-1-rock-2 {
        width: 14%;
        bottom: 4%;
    }

    .Home-wrapper section:nth-child(2) .section-1-bubble-container {
        width: 22rem;
        height: 10rem;
    }

    .Home-wrapper section:nth-child(2) .section-1-bubble-container-2 {
        width: 20rem;
        height: 10rem;
    }

    .Home-wrapper section:nth-child(3) .rock-right {
        right: 0;
        bottom: 5%;
        height: 20rem;
    }

    .bubble-position-1 {
        right: 20%;
        top: 18%;
    }

    .bubble-position-2 {
        left: 17%;
        bottom: 12%;
    }

    .section-1-bubble-container-text-title {
        @apply text-lg;
    }

    .section-1-bubble-container-text-number {
        @apply text-3xl font-bold;
    }

    .section-0-content .text-title-1 {
        line-height: 2rem !important;
    }

    .Home-wrapper section:nth-child(4) .roadmap {
        height: 28rem;
        margin-right: 10.2rem;
    }
    .Home-wrapper section:nth-child(4) .text-title {
        font-size: 22px;
    }
    .Home-wrapper section:nth-child(4) .text-list {
        font-size: 13px;
        @apply ml-4;
    }
    .text-roadmap-1 {
        @apply ml-56;
    }
    .text-roadmap-2 {
        margin-top: 165px;
        @apply mr-56;
    }
    .text-roadmap-3 {
        margin-top: 330px;
        @apply ml-56;
    }
    .Home-wrapper section:nth-child(4) .rock-left {
        height: 16rem;
    }
    .Home-wrapper section:nth-child(4) .rock-right {
        height: 11rem;
    }
    .seahorse {
        width: 20px;
        bottom: 120px;
        right: 125px;
    }
    .lonely-zebrafish {
        top: -5rem;
        left: 3rem;
        width: 50px;
    }
}

@media (min-width: 1280px) {
    .Home-banner {
        height: 38rem;
    }

    .Home-banner-layer {
        height: 30rem;
    }

    .Home-wrapper section:nth-child(1) {
        height: 30.5rem;
    }

    .Home-wrapper section:nth-child(2),
    .Home-wrapper section:nth-child(3),
    .Home-wrapper section:nth-child(4) {
        height: 45rem;
    }

    .Home-wrapper section:nth-child(5),
    .Home-wrapper section:nth-child(6) {
        height: 70rem;
    }

    footer {
        height: 20rem;
    }

    .Home-wrapper section:nth-child(2) .section-1-rock-1 {
        width: 29.8%;
        top: 19%;
    }

    .Home-wrapper section:nth-child(2) .section-1-rock-2 {
        width: 14%;
        bottom: 4%;
    }

    .Home-wrapper section:nth-child(2) .section-1-bubble-container {
        width: 28rem;
        height: 13rem;
    }

    .Home-wrapper section:nth-child(2) .section-1-bubble-container-2 {
        width: 24rem;
        height: 13rem;
    }

    .Home-wrapper section:nth-child(3) .rock-right {
        right: 0;
        bottom: 5%;
        height: 20rem;
    }

    .bubble-position-1 {
        right: 20%;
        top: 18%;
    }

    .bubble-position-2 {
        left: 17%;
        bottom: 12%;
    }

    .section-1-bubble-container-text-title {
        @apply text-xl;
    }

    .section-1-bubble-container-text-number {
        @apply text-3xl font-bold;
    }

    .section-0-content .text-title-1 {
        line-height: 3.5rem !important;
    }
    .Home-wrapper section:nth-child(4) .roadmap {
        height: 36rem;
        margin-right: 10.2rem;
    }
    .Home-wrapper section:nth-child(4) .rock-left {
        height: 20rem;
    }
    .Home-wrapper section:nth-child(4) .text-title {
        font-size: 24px;
    }
    .Home-wrapper section:nth-child(4) .text-list {
        font-size: 16px;
    }
    .text-roadmap-1 {
        @apply ml-80 -mt-1;
    }
    .text-roadmap-2 {
        @apply mr-80 mt-56;
    }
    .text-roadmap-3 {
        margin-top: 410px;
        @apply ml-80;
    }
    .seahorse {
        width: 22px;
        bottom: 125px;
        right: 125px;
    }
    .lonely-zebrafish {
        top: -6rem;
        left: 3.5rem;
        width: 60px;
    }
}

@media (min-width: 1536px) {
    .Home-banner {
        height: 45rem;
    }

    .Home-banner-layer {
        height: 35rem;
    }

    .Home-wrapper section:nth-child(1) {
        height: 33.75rem;
    }

    .Home-wrapper section:nth-child(2),
    .Home-wrapper section:nth-child(3),
    .Home-wrapper section:nth-child(4) {
        height: 67.5rem;
    }

    .Home-wrapper section:nth-child(5),
    .Home-wrapper section:nth-child(6) {
        height: 80rem;
    }

    footer {
        height: 40rem;
    }

    .Home-wrapper section:nth-child(2) .section-1-rock-1 {
        width: 29.8%;
        top: 19%;
    }

    .Home-wrapper section:nth-child(2) .section-1-rock-2 {
        width: 14%;
        bottom: 4%;
    }

    .Home-wrapper section:nth-child(2) .section-1-bubble-container {
        width: 32rem;
        height: 15rem;
    }

    .Home-wrapper section:nth-child(2) .section-1-bubble-container-2 {
        width: 29rem;
        height: 15rem;
    }

    .Home-wrapper section:nth-child(3) .rock-right {
        right: 0;
        bottom: 5%;
        height: 36rem;
    }

    .section-0-content .text-title-1 {
        line-height: 4.5rem !important;
    }

    .bubble-position-1 {
        right: 20%;
        top: 24%;
    }

    .bubble-position-2 {
        left: 17%;
        bottom: 20%;
    }

    .section-1-bubble-container-text-title {
        @apply text-2xl;
    }

    .section-1-bubble-container-text-number {
        @apply text-5xl font-bold;
    }

    .Home-wrapper section:nth-child(4) {
        @apply relative bg-cover bg-no-repeat flex justify-center items-center;
    }

    .Home-wrapper section:nth-child(4) .roadmap {
        height: 45rem;
        margin-right: 10.2rem;
    }

    .Home-wrapper section:nth-child(4) .rock-left {
        height: 27rem;
    }
    .Home-wrapper section:nth-child(4) .rock-right {
        height: 25rem;
        bottom: 7rem;
    }
    .Home-wrapper section:nth-child(4) .text-title {
        font-size: 32px;
        @apply font-bold;
    }
    .Home-wrapper section:nth-child(4) .text-list {
        font-size: 20px;
    }
    .text-roadmap-1 {
        margin-top: 5px;
        margin-left: 490px;
    }
    .text-roadmap-2 {
        margin-right: 400px;
        margin-top: 265px;
    }
    .text-roadmap-3 {
        margin-top: 510px;
        margin-left: 490px;
    }
    .seahorse {
        width: 25px;
        bottom: 230px;
        right: 225px;
    }
    .lonely-zebrafish {
        top: -7rem;
        left: 4rem;
        width: 70px;
    }
}

.group-of-discus-fish {
    @apply w-full;
    height: 40%;
    background-image: url('../resources/images/group-of-fish.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    transform: translate(0%, 0px);
    /* opacity: 0;
    animation: swim 15s linear infinite; */
}

/* @keyframes swim {
    0% {
        transform: translate(0%, 0%);
        opacity: 0.2;
    }
    20% {
        transform: translate(-10%, 0%);
        opacity: 0.5;
    }
    40% {
        transform: translate(-20%, 0%);
        opacity: 1;
    }
    60% {
        transform: translate(-50%, 0%);
        opacity: 1;
    }
    80% {
        transform: translate(-70%, 0%);
        opacity: 0.5;
    }
    90% {
        transform: translate(-150%, 0%);
        opacity: 0.2;
    }
    100% {
        transform: translate(-200%, 0%);
        opacity: 0;
    }
} */
